/* Set the top and bottom margin to 0 */
body{
    margin: 0;
}

    /* Setting the heigth of the header and making the background transparent */
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 130px;
    background-color: transparent;
    z-index: 2;
}

/* Styling the nav bar */

header nav menu li a{
    /* changing the color of the link */
    color: aliceblue;
}

header nav menu {
    display: flex;
    list-style: none;
    position: absolute;
    top: 170px; 
    left: 50%;
    transform: translateX(-50%); 
    font-family: 'Courier New', Courier, monospace;
    gap: 15px;
}

header div img{
    position: absolute;
    height: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.main{
    background-image: url("../img/imgbg.png");
    width: 100vw;
    height: 105vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    position: relative;
    z-index: 1;
}

.main::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* making asemi transparent overlay so the nav is more visiblt */
    pointer-events: none;
    z-index: 2;
} 

