/* Set the top and bottom margin to 0 */
html body{
    margin: 0 0 0 0;
}

    /* Setting the heigth of the header and making the background transparent */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 2;
}

/* Styling the nav bar */

header nav menu li a{
    /* changing the color of the link */
    color: #000000;
}


header nav menu {
    display: flex;
    list-style: none;
    position: static;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    gap: 15px;
}

header div img{
    position: static;
    height: 100px;
    width: auto;
}
.main>div{
    width: auto; /* Set your desired width */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.main>div{
    position: relative;
    z-index: 1;
}

.main::after {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* making asemi transparent overlay so the nav is more visiblt */
    pointer-events: none;
    z-index: 2;
} 

